<div class="container">
    <div class="row">
        <div class="col s12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>¿QUÉ ES CLINICAL VOICE BOX?</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>CLINICAL VOICE BOX es una aplicación web creada para mejorar los procesos de evaluación y abordaje en el área de la voz.</p>
                    <p>CLINICAL VOICE BOX facilita la evaluación, tratamiento y seguimiento de pacientes y usuarios del área de la voz, a través de la carga, edición, procesamiento y consulta automática de datos.</p>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>¿CÓMO PUEDO ACCEDER A CLINICAL VOICE BOX?</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>CLINICAL VOICE BOX es una App web de uso gratuito, aunque específica para profesionales fonoaudiólogos, logopedas, terapeutas del lenguaje, terapeutas de la comunicación humana Y speech language pathologist.</p>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>¿QUÉ PUEDO HACER CON CLINICAL VOICE BOX?</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>A través de la App CLINICAL VOICE BOX puedes evaluar, brindar indicaciones terapéuticas y realizar seguimiento/monitoreo de manera remota y en tiempo real a cada uno de tus pacientes o usuarios de voz.</p>
                    <ul>
                        <li><mat-icon>chevron_right</mat-icon>Ingresar y dar de alta a pacientes/usuarios sin límites</li>
                        <li><mat-icon>chevron_right</mat-icon>Realizar carga de datos personales y ficha clínica</li>
                        <li><mat-icon>chevron_right</mat-icon>Cargar y almacenar datos de evaluaciones y pruebas</li>
                        <li><mat-icon>chevron_right</mat-icon>Enviar cuestionarios específicos a cada paciente de acuerdo a su interés</li>
                        <li><mat-icon>chevron_right</mat-icon>Visualizar en tiempo real resultados, audios, videos e imágenes de cada usuario</li>
                        <li><mat-icon>chevron_right</mat-icon>Obtener historias clínicas en línea actualizables</li>
                        <li><mat-icon>chevron_right</mat-icon>Prescribir ejercicios o implementar recursos terapéuticos a partir de los resultados e interpretación que realices como profesional especializado</li>
                        <li><mat-icon>chevron_right</mat-icon>Supervisar de manera remota la práctica de cada paciente</li>
                        <li><mat-icon>chevron_right</mat-icon>Realizar gráficos comparativos de seguimiento</li>
                        <li><mat-icon>chevron_right</mat-icon>Generar reportes de manera automática</li>
                        <li><mat-icon>chevron_right</mat-icon>Incluir notas personalizadas en todos los reportes generados</li>
                        <li><mat-icon>chevron_right</mat-icon>Comparar estadísticamente la evolución del paciente</li>
                        <li><mat-icon>chevron_right</mat-icon>Descargar y compartir con el usuario resultados e informes</li>
                    </ul>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>