<img src="assets/images/head_inicio.png" alt="" class="w-100">
<div class="container">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <button mat-raised-button color="accent" class="w-100" [routerLink]="['login']">ESPAÑOL</button>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <button mat-raised-button color="accent" class="w-100" disabled>PORTUGUESE</button>
        </div>
        <div class="col s1"></div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <button mat-raised-button color="accent" class="w-100" disabled>ENGLISH</button>
        </div>
        <div class="col s1"></div>
    </div>
</div>