<canvas *ngIf="tipoGrafico === 'pie'" baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [width]="340" [height]="340"
    [colors]="pieChartColors"
    [legend]="pieChartLegend">
</canvas>
<canvas *ngIf="tipoGrafico === 'bar'" baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [width]="300" [height]="300"
    [legend]="barChartLegend"
    [chartType]="barChartType">
</canvas>


<!-- <div>
    <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
    <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
    <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button>
</div> -->