<mat-card-header>
    <div class="row">
        <h1 *ngIf="delete">Confirme</h1>
        <h1 *ngIf="share">Compartir Paciente</h1>
    </div>
</mat-card-header>
<mat-card-content>
    <div class="row" *ngIf="delete">
        <p>Está por eliminar al paciente:</p>
        <p>{{paciente.apellido}}, {{paciente.nombre}}</p>
        <p class="bold">No se podrán recuperar los datos luego de eliminar</p>
        <p>¿Está seguro?</p>
    </div>
    <div class="row" *ngIf="share">
        <p>Paciente: {{paciente.apellido}}, {{paciente.nombre}}</p>
        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select>
    </div>
</mat-card-content>
<mat-card-actions>
    <button mat-flat-button class="right">ACEPTAR</button>
    <button mat-flat-button class="right">CANCELAR</button>
</mat-card-actions>