/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.w-100{
    width: 100%;
}
.w-70{
    width: 70%;
}
.w-50{
    width: 50%;
}
.principal{
    min-height: 100vh;
    background-image: url("assets/images/fondo2.png");
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: repeat-x;
}
.mt-50{
    margin-top: 50px;
}
.primary-text{
    color: #039be5;
}
.vh-50{
    height: 50vh;
}
.mt-50p{
    margin-top: calc(25vh - 10%) !important;
}
.versalita{
    font-variant: small-caps !important;
}
.titulo{
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}
.bold{
    font-weight: 600 !important;
}
.right{
    float: right;
}
.blue-snackbar button{
    color: #039be5 !important;
}
.font-12{
    font-size: 0.5rem !important;
    font-weight: 400 !important;
}
.border{
    border: solid 1px #e0e0e0;
    border-radius: 2px;
}
.p-border{
    padding-top: 1rem !important;
}
.border-u{
    border-bottom: solid 1px #e0e0e0;
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}
.bg-white{
    background-color: white;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mt-0{
    margin-top: 0 !important;
}
.mb-5{
    margin-bottom: 1.3rem;
}
.valign{
    display: flex;
    align-items: center;
}