<div class="container center vh-50 mt-50p">
    <div class="row">
        <div class="col s12">
            <button mat-raised-button color="accent" class="w-70" [routerLink]="['nuevo-paciente']">NUEVO PACIENTE</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button mat-raised-button color="accent" class="w-70" [routerLink]="['lista-pacientes']">LISTA DE PACIENTES</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button mat-raised-button color="accent" class="w-70" [routerLink]="['agenda']">AGENDA</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button mat-raised-button color="accent" class="w-70" disabled>ESTADISTICAS</button>
        </div>
    </div>
</div>